.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.button:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease-in-out;
}

.buttonPrimary {
  background-color: #028100;
  color: #fff;
  border: 2px solid #028100;
}

.buttonPrimary:hover {
  background-color: #43a047;
  border-color: #43a047;
}

.buttonSecondary {
  background-color: #fff;
  color: #028100;
  border: 2px solid #028100;
}

.buttonSecondary:hover {
  background-color: rgba(76, 175, 80, 0.1);
  color: #43a047;
  border-color: #43a047;
}
