.eventItem {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  width: 20rem;
  height: 40rem;
  transition: width 0.5s;
}

.eventItem:hover {
  width: 30rem;
  z-index: 1;
}

.eventItem:hover ~ .eventItem {
  width: 15rem;
  transition: width 0.5s;
  z-index: 0;
}

.eventItem:hover .title {
  opacity: 0;
  transition: opacity 0.2s;
}

.eventItem:hover .eventDescription {
  opacity: 1;
  transition: opacity 0.3s 0.2s;
  visibility: visible;
}

.eventDescription {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
